
body{
    background: url("https://akson.ru/upload/resize_cache/ctpi/0d/0d999251ba25eb1da7b18aaa4b40b1d8/1000x1000.JPG");
    background-size: 100%;
}

#img{
    position: fixed;
    top: 15;
    right: auto;
    bottom: 0;
    left: 850;
}

    header{
    position: fixed;
    top: 0;
    right: 450;
    bottom: auto;
    left: 450;
    z-index: 100;
    display: block;
    float: center;
    width: 500;
    height: 130;
    margin-bottom: 10;
    padding: 2;
    font: normal 17/1.5 "Arial", sans-serif;
    border-bottom: 2px solid black;
}

h1,h3{
    display: block;
    width: 500;
    height: 0;
    margin: 10;
    padding: 20;
}

.headline{
    display: block;
    float: right;
    width: 80;
    height: 10;
    margin: 0;
    padding: 2;
    font: bold 15.5 "Times New Roman", sans-serif;   
}

table{
    position: fixed;
    top: 140;
    right: 450;
    bottom: auto;
    left: 450;
    z-index: 100;
    display: block;
    float: right;
    width: 500;
    height: 450;
    margin: auto;
    padding: 1;
    border-bottom: 2px solid black;
    font: normal 15.5px "Times New Roman", sans-serif;
}

p{
    display: block;
    float: right;
    width: 400;
    height: auto;
    margin: 1;
    padding: 2;
}

.bord{
    border-bottom: 2px dotted black ;
}

footer{
  position: fixed;
  top: auto;
  right: 450;
  bottom: 0;
  left: 450;
  z-index: 100;
  display: block;
  float: right;
  width: 500;
  height: 80;
  margin: 0;
  padding: 0;    
  font-size: 14;
}